@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-shift-pink-blue {
  animation: shift-pink-blue 6s ease-in-out infinite;
}

@keyframes shift-pink-blue {
  from {
    background-color: rgb(253 242 248);
  }
  50% {
    background-color: rgb(239 246 255);
  }
  to {
    background-color: rgb(253 242 248);
  }
}
